---
// Home page Cards Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

import { Image } from 'astro:assets'
import office1 from '../../assets/home/office-image-01.jpg'
import office2 from '../../assets/home/office-image-02.jpg'
import office3 from '../../assets/home/office-image-03.jpg'
---

<section class="mx-auto grid max-w-8xl grid-cols-12 gap-5 px-5 pt-16">
	<div class="col col-span-12 rounded-md border border-black/10 bg-white p-12 lg:col-span-6">
		<div class="mb-8 flex items-center">
			<img src="/home/count.svg" alt="125+" />
			<h4 class="pl-6">Project Completed</h4>
		</div>
		<p>
			We take pride in our extensive experience and proven track record of success. With over 125
			projects completed, we have consistently delivered innovative and impactful digital solutions
			that drive results.
		</p>
		<div class="mt-24 place-self-end">
			<a href="#" class="primary-button inline-block">View All Projects</a>
		</div>
	</div>
	<div
		class="col place-items-between col-span-12 grid rounded-md border border-black/10 bg-white p-12 lg:col-span-6"
	>
		<h3>End-to-end creative services for a seamless brand experience</h3>
		<ul class="grid list-inside list-[circle] grid-cols-1 text-base md:grid-cols-2">
			<li>Brand Identity</li>
			<li>Graphic Design</li>
			<li>App Development</li>
			<li>Digital Marketing</li>
			<li>UI/UX Design</li>
			<li>Web Development</li>
		</ul>
	</div>
	<div class="col col-span-12 rounded-md border border-black/10 bg-white p-12 lg:col-span-8">
		<h3>Our International Office Network</h3>
		<p>
			With offices strategically located around the globe, Rokvi ensures a local presence in key
			markets. Our international network enables us to provide tailored solutions.
		</p>
		<div class="flex flex-col gap-5 md:flex-row">
			<div class="overflow-clip rounded-md md:w-1/3">
				<Image src={office1} alt="Office1" class="w-full" /><h4 class="mt-2 text-base">New York</h4>
			</div>
			<div class="overflow-clip rounded-md md:w-1/3">
				<Image src={office2} alt="Office2" class="w-full" /><h4 class="mt-2 text-base">
					California
				</h4>
			</div>
			<div class="overflow-clip rounded-md md:w-1/3">
				<Image src={office3} alt="Office3" class="w-full overflow-clip rounded-md" /><h4
					class="mt-2 text-base"
				>
					Kentucky
				</h4>
			</div>
		</div>
	</div>
	<div class="col col-span-12 rounded-md border border-black/10 bg-white p-12 lg:col-span-4">
		<h3>Connect with our team</h3>
		<p>
			Reach out to our team for expert advice, personalized solutions, and a seamless experience.
		</p>
		<div>Follow us on:</div>
	</div>
</section>
<style>
	ul li {
		@apply md:leading-[0];
	}
	ul li::marker {
		@apply text-2xl md:leading-[0];
	}
</style>
