---
import { Image } from 'astro:assets'
import Mar from './Mar.astro'
---

<section
	class="inline-flex w-full flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_white_200px,_white_calc(100%-200px),transparent_100%)]"
>
	<ul
		class="flex animate-[marquee_30s_linear_infinite] items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
	>
		<Mar name="luminous" />
		<Mar name="hourglass" />
		<Mar name="capsule" />
		<Mar name="lightbox" />
		<Mar name="spherule" />
		<Mar name="command" />
		<Mar name="webflow" />
	</ul>
	<ul
		class="flex animate-[marquee_30s_linear_infinite] items-center justify-center md:justify-start [&_img]:max-w-none [&_li]:mx-8"
		aria-hidden="true"
	>
		<Mar name="luminous" />
		<Mar name="hourglass" />
		<Mar name="capsule" />
		<Mar name="lightbox" />
		<Mar name="spherule" />
		<Mar name="command" />
		<Mar name="webflow" />
	</ul>
</section>
