---
import { Image } from 'astro:assets'
// import AboutImage from '../../assets/home/legacy-image.jpg'
import type { CollectionEntry } from 'astro:content'
type post = CollectionEntry<'posts'>

import { getCollection } from 'astro:content'
const posts = (await getCollection('posts'))
	.sort((a: post, b: post) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3)
---

<section class="mx-auto grid max-w-8xl grid-cols-3 gap-x-6 gap-y-12 px-5 py-20">
	<div class="col-span-3">
		<h3 class="col text-base uppercase">Blogs</h3>
		<h2 class="col text-2xl leading-snug md:text-4xl">LATEST ARTICLES</h2>
	</div>
	{
		posts.map((post) => (
			<div class="col-span-1">
				<a href={`/posts/${post.slug}`}>
					<div
						data-date={`${new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}`}
						class="group relative overflow-hidden rounded-md before:absolute before:z-10 before:h-full before:w-full before:bg-black/20 after:absolute after:left-5 after:top-5 after:z-20 after:rounded-md after:bg-white after:p-2 after:text-xs after:content-[attr(data-date)]"
					>
						<Image
							src={post.data.image}
							alt={post.data.title}
							class="transition-transform duration-500 ease-out group-hover:scale-110"
						/>
					</div>
					<h4 class="pt-4 text-lg font-medium">{post.data.title}</h4>
				</a>
			</div>
		))
	}
</section>
