---
// Footer
// ------------
// Description: the website footer is the section of content
// Reference: https://wind-ui.com/components/footers/

// Components
// - UI
import { Icon } from 'astro-icon/components'

// Data
// import { socialLinks } from '../config/socialLinks'
// import { footerNavigationData } from '../config/footerNav'

// const { footerAbout, footerColumns, subFooter } = footerNavigationData
---

<footer class="w-full bg-neutral-800 pt-16 text-white">
	<div
		class="mx-auto flex max-w-8xl flex-col items-center justify-between gap-y-6 px-12 pb-16 md:flex-row md:gap-y-12 md:px-6"
	>
		<a href="#" class="inline-block flex-1"><img src="/footer-logo.svg" alt="Footer Logo" /></a>
		<ul
			class="flex flex-1 flex-wrap justify-center gap-x-4 gap-y-3 text-base uppercase leading-loose md:text-base lg:flex-nowrap lg:gap-x-8"
		>
			<li><a href="#">Studio</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Pricing</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Blogs</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<div class="flex flex-1 justify-end gap-x-2">
			<a href="" class="social-link"><Icon name="ic-twitter" /></a>
			<a href="" class="social-link"><Icon name="ic-facebook" /></a>
			<a href="" class="social-link"><Icon name="ic-youtube" /></a>
			<a href="" class="social-link"><Icon name="ic-insta" /></a>
		</div>
	</div>
	<div
		class="mx-auto flex max-w-8xl flex-col items-center justify-between justify-items-center gap-8 px-12 pb-12 md:flex-row md:gap-16 md:px-6"
	>
		<div class="flex-1 text-center md:text-left">
			<h4>California</h4>
			<small>145-148 Street,3891 Ranchview Dr. Richardson, California, 62639</small>
			<h5>+(208) 555-0112</h5>
		</div>
		<div class="flex-1 text-center md:text-left">
			<h4>Kentucky</h4>
			<small>87-89 Stellen Darwd, 2118 Thornridge Cir. Syracuse, Connecticut, 35624</small>
			<h5>+(702) 555-0122</h5>
		</div>
		<div class="flex flex-1 md:justify-end">
			<h4>SUBSCRIBE NEWSLETTER</h4>
		</div>
	</div>
	<div class="border-t border-white/20 text-[15px] font-normal text-neutral-600">
		<div class="mx-auto flex max-w-8xl flex-col items-center p-5 md:flex-row md:justify-between">
			<div class="flex-1">© 2024 Rokvi.</div>
			<div class="flex flex-1 justify-end">Powered by Emptyarea.</div>
		</div>
	</div>
</footer>

<style>
	footer h4 {
		@apply pb-1.5 text-lg font-normal text-white;
	}
	footer h5 {
		@apply pb-2 text-base font-normal text-neutral-500;
	}
	footer a {
		@apply text-primary transition-colors duration-300 hover:text-white focus:text-white;
	}
	footer small {
		@apply mb-3 block text-[15px] font-normal text-neutral-600;
	}

	footer p {
		@apply mb-2 text-[15px] font-normal text-neutral-600;
	}

	footer [data-icon] {
		@apply text-sm;
	}
	a.social-link {
		@apply flex h-8 w-8 items-center justify-center rounded-full border border-white/10 hover:border-white/20 hover:bg-white/10;
	}
</style>
